[safe]
	directory = /root/gcpcloud
	directory = /root/gcpcloud
	directory = /root/gcpcloud
	directory = /root
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
	directory = /root
	directory = /root/gcpcloud
