gcpcloud/*.json
gcpcloud/.bash_history
gcpcloud/secrets/gcp-key.json
gcpcloud/yes
.terraform.d
.ansible
.ssh

supervisord.log
supervisord.pid
.config

.bash_history
gitlab-ci-key.json
*.json
.docker/

.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl